[submodule "BackupAPI"]
	path = BackupAPI
	url = https://github.com/SecUSo/privacy-friendly-backup-api.git
[submodule "openpgp-api"]
	path = openpgp-api
	url = https://github.com/open-keychain/openpgp-api
